.purchase-card {
  margin-bottom: 15px;
}

.purchase-item-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 10px;
}

.purchase-item-title {
  font-size: 14px;
}